<div id="myplugin-new-section" class="section-profile">
    <!-- PAGE DETAILS -->

    <h1>My plugin</h1>
    <hr>

    <!-- ADVERSARY SELECTION -->
    <form autocomplete="off">
        <div id="select-adversary" class="field has-addons">
            <label class="label" for="profile-select">Select a profile &nbsp;&nbsp;&nbsp;</label>
            <div class="control is-expanded">
                <div class="select is-fullwidth">
                    <select id="profile-select" x-model="selectedAdversary">
                        <option value="None">Select an adversary profile</option>
                        {% for adv in adversaries %}
                        <option value={{ adv.adversary_id }}> {{ adv.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </form>

    <!-- DOWNLOAD BUTTON -->
    <div class="button-container">
        <button class="mybutton" id="downloadButton">Download</button>
    </div>
</div>


<style scoped>
    .ability-row > td {
        cursor: pointer;
    }

    .ability-row > th {
        border: 0 !important;
    }

    #select-adversary {
        max-width: 800px;
        margin: 0 auto;
    }

    .code {
        font-family: monospace;
    }

    .control-buttons>.button {
        margin: 0 10px 10px 0;
    }

    .drag {
        cursor: grab;
    }

    .file-cta {
        background-color: #262626;
    }
  
    .mybutton {
        background-color: #8b00ff;
        border: 1.5px solid #6b00cc;
        color: #f6e5ff;
        padding: 5px 10px;  
        border-radius: 20px;
        font-weight: bold;
        font-size: 14px;
        transition: background-color 0.3s ease, border-color 0.3s ease;

    }

    button#downloadButton {
        display: inline-block;
        text-align: center;
        width: auto;
    }
    
    .mybutton:hover {
        background-color: #6b00cc;
        border-color: #4a0099;
        cursor: pointer;
    }

    .button-container {
        text-align: center;
        margin-top: 15px;
    }
</style>


<script>
    document.getElementById('downloadButton').addEventListener('click', function() {
        const selectElement = document.getElementById('profile-select');
        const adversaryId = selectElement.value;

        if (adversaryId !== "None") {
            const url = `/plugin/standa/download/${adversaryId}`;
            window.location.href = url;
        } else {
            alert('Please select an adversary profile.');
        }
    });
</script>